<div class="fondo p-2 tcolor ">
<h2><u>Editar</u></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Email" %>
  </div>

  <div class="field">
    <%= f.label :name, class:"form-label" %><br />
    <%= f.text_field :name, autocomplete: "Nombre" %>
  </div>

  <div class="container">
  <% f.fields_for :avatar do |image_form| %>
  <div class="form-group">
  <%= f.label :avatar %>
  <%= f.file_field :avatar, class:"form-controller" %>
  </div>
    <% end %>
</div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Actualmente esperando confirmacion para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Dejar vacio si no quieres cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "Nueva Contrase単a" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres minimos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Nueva Constrase単a" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Necesitamos tu contrase単a actual para aplicar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "Constrase単a Actual" %>
  </div>

<div class="field">
    <%= f.label :avatar, class:"form-label mt-3" %><br />
    <%= f.file_field :avatar, autocomplete: "avatar", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Borrar mi cuenta</h3>

<div>Descontento? <%= button_to "Borrar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?", turbo_confirm: "Estas seguro?" }, method: :delete %></div>

<%= link_to "Volver", :back %>
 </div>