<div class="fondo p-2 tcolor ">
<h2><u>Registrate</u></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Email" %>
  </div>


  <div class="field">
    <%= f.label :name, class:"form-label" %><br />
    <%= f.text_field :name, autocomplete: "Nombre" %>
  </div>

  <div class="container">
  <% f.fields_for :avatar do |image_form| %>
  <div class="form-group">
  <%= f.label :avatar %>
  <%= f.file_field :avatar, class:"form-controller" %>
  </div>
    <% end %>
</div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "Nueva Contraseña" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Nueva Contraseña" %>
  </div>

<div class="field">
    <%= f.label :avatar, class:"form-label m-2 blue" %><br />
    <%= f.file_field :avatar, autocomplete: "avatar", class:"form-control" %>
  </div>


  <div class="actions">
    <%= f.submit "Registrarse" %> <br><br>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 </div>