<div id="<%= dom_id kppost %>">

<div class="bg-light p-2 text-dark bg-opacity-75">

 <div class="d-flex text-start">
 <p>
 <% if kppost.kpuser.avatar.persisted? %>
 <%= image_tag kppost.kpuser.avatar, class: "rounded-circle avatarr ms-3" %> 
 <% end %>

 <strong> <%= kppost.kpuser.name.capitalize %></strong>
  </p>
</div>
 

  <div class="text-center">
          <% kppost.kpimages.each do |image| %>
      <%= image_tag image, class:"photo"%>
  <% end %>
</div>

<p class="text-center tcolor">❀＊*•̩̩͙✩•̩̩͙*˚❀˚*•̩̩͙✩•̩̩͙*˚＊❀ ❀＊*•̩̩͙✩•̩̩͙*˚❀˚*•̩̩͙✩•̩̩͙*˚＊❀</p>

  <p class="mt-1 ms-3 text-start desc">
     <strong> <%= kppost.kpuser.name %>:</strong>
    <em><%= kppost.description.capitalize %></em>
  </p>
</div>

</div>
